.item{
  width:200px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}

#index-gallery{
  width:465px;
}

.custom_image{
	padding-left : 50px
}

.left{
    float: left;
    margin-right: 40px;
    width: calc(50% - 1.5em);
    font-size :20px;
}
.right{
   float: left;
}