.resultitem{
  width:200px;
  height:200px;
  background:#48e;
  -webkit-transition: 0.5s;
          transition: 0.5s;
          
          align:left;
}

.resultitem:hover{
  background:#59f;
  -webkit-transform: scale(2.0);
          transform: scale(2.0);
}